
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script> 

</head>
<body>
    <h1 class="mt-5 mb-5 text-center text-success">Exercici vehícles</h1>
    <form id="formUno" class="container d-flex flex-column align-items-center">
        <div class="col-6 d-flex">
            <div class="m-3">
                <label for="plate" class="form-label text-success fw-bold">Plate</label>
                <input type="text" class="form-control" id="plate" name="plate" >
                <div class="invalid-feedback" id="errorPlate"></div>
            </div>
            <div class="m-3">
                <label for="brand" class="form-label text-success fw-bold">Brand</label>
                <input type="text" class="form-control" id="brand" name="brand" ></input>
                <div class="invalid-feedback" id="errorBrand"></div>
            </div>
            <div class="m-3">
                <label for="color" class="form-label text-success fw-bold">Color</label>
                <input type="text" class="form-control" id="color" name="color" ></input>
                <div class="invalid-feedback" id="errorColor"></div>
            </div>
        </div>
            <div>
                <button id="btn_create" type="button" class="btn btn-success" onclick="createCar(plate, brand, color)"">Crear coche</button>
            </div>
        </div>
    </form>
    <form id="formDos" class="container flex-column align-items-center d-none">
        <div class="col-9 d-flex">
            <div class="m-3">
                <label for="brand1" class="form-label text-success fw-bold">Marca rueda 1</label>
                <input type="text" class="form-control" id="brand1" name="brand1">
                <div class="invalid-feedback" id="errorBrand1"></div>
            </div>
            <div class="m-3">
                <label for="diameter1" class="form-label text-success fw-bold">Diametro rueda 1</label>
                <input type="text" class="form-control" id="diameter1" name="diameter1"></input>
                <div class="invalid-feedback" id="errorDiameter1"></div>
            </div>
            <div class="m-3">
                <label for="brand2" class="form-label text-success fw-bold">Marca rueda 2</label>
                <input type="text" class="form-control" id="brand2" name="brand2"></input>
                <div class="invalid-feedback" id="errorBrand2"></div>
            </div>
            <div class="m-3">
                <label for="diameter2" class="form-label text-success fw-bold">Diametro rueda 2</label>
                <input type="text" class="form-control" id="diameter2" name="diameter2"></input>
                <div class="invalid-feedback" id="errorDiameter2"></div>
            </div>
        </div>
        <div class="col-9 d-flex">
            <div class="m-3">
                <label for="brand3" class="form-label text-success fw-bold">Marca rueda 3</label>
                <input type="text" class="form-control" id="brand3" name="brand3">
                <div class="invalid-feedback" id="errorBrand3"></div>
            </div>
            <div class="m-3">
                <label for="diameter3" class="form-label text-success fw-bold">Diametro rueda 3</label>
                <input type="text" class="form-control" id="diameter3" name="diameter3"></input>
                <div class="invalid-feedback" id="errorDiameter3"></div>
            </div>
            <div class="m-3">
                <label for="brand4" class="form-label text-success fw-bold">Marca rueda 4</label>
                <input type="text" class="form-control" id="brand4" name="brand4"></input>
                <div class="invalid-feedback" id="errorBrand4"></div>
            </div>
            <div class="m-3">
                <label for="diameter4" class="form-label text-success fw-bold">Diametro rueda 4</label>
                <input type="text" class="form-control" id="diameter4" name="diameter4"></input>
                <div class="invalid-feedback" id="errorDiameter4"></div>
            </div>
        </div>
            <div class="d-flex justify-content-center">
                <button id="btn_create" type="button" class="btn btn-success" onclick="crearRuedas(brand1, diameter1, brand2, diameter2, brand3, diameter3, brand4, diameter4)" >Añadir ruedas</button>
            </div>
        </div>
    </form>
    <div id="divInfo" class="container mt-5 d-flex align-items-center d-flex flex-column">
       
    </div>
    
  
    
    
</body>
